<style type = "text/css">
                                     
background-color: lightblue;}
                                                 
color: white
                    
background-color: darkblue;}
                      
            
</style>