<style type = "text/css">
                
em  { font-weight: bold; color: black:}
                
.special { color: Red; }
                
table {width:300px;
                      
border-collapse: collapse;
                      
background-color: lightblue;}
                
table,td,th {border:1px solid black;
                            
padding:4px;}
                
th {text-align: left;
                    
color: white
                    
background-color: darkblue;}
                      
            
</style>